<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='indexstyle.css') }}">
<title>Inicio</title>
</head>

<body>
    <div class="barra">
    <form action="resultados" method="POST" class="formindex">
    <div class="input">
    <input type="text" class="intext" id="inputText" name="textin" >
    </div>
    <div class="buscar">
    <button type="submit" class="btnbuscar" onclick="return funcionB(this);" ></button>
    </div>
    </form>

    <form class="subir" enctype=multipart/form-data method=POST action="upload">
    <button type="button" class="btnsubir"><input type="file" class="infile" name='myfile' onchange="return funcionS(this);" ></button>
    <button type="submit" class="btncargar"></button>
    </form>
    </div>
</body>
</html>
